.modalHeader {
  display: flex;
  justify-content: center;
  border-style: none;
}

.modalBody {
  margin-left: 20%;
  margin-right: 20%;
}

.modalFooter {
  display: flex;
  justify-content: center;
}
